[Unit]
Description=CCTV

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
ExecStart=ustreamer --port=4567 --host=0.0.0.0 --device=/dev/video0
WorkingDirectory=/home/rocket
Restart=always
RestartSec=1
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=%n
