[Unit]
Description=Flask controls

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
ExecStart=flask run --host=0.0.0.0
WorkingDirectory=/home/rocket/binaries
Restart=always
RestartSec=1
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=%n
