[Unit]
Description=Flask image

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
Environment="FLASK_APP=image"
ExecStart=flask run --host=0.0.0.0 --port=9000
WorkingDirectory=/home/rocket/binaries
Restart=always
RestartSec=1
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=%n
